################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjektNPgr4/v16
/.vs
/main/.vs/main/v16
/main/main.vcxproj.user
/main/main.vcxproj.filters
/main/main.vcxproj
/main/main.sln
/main/Debug/vc142.pdb
/main/Debug/vc142.idb
/main/Debug/main.vcxproj.FileListAbsolute.txt
/main/Debug/main.tlog/main.lastbuildstate
/main/Debug/main.tlog/link.write.1.tlog
/main/Debug/main.tlog/link.read.1.tlog
/main/Debug/main.tlog/link.command.1.tlog
/main/Debug/main.tlog/CL.write.1.tlog
/main/Debug/main.tlog/CL.read.1.tlog
/main/Debug/main.tlog/CL.command.1.tlog
/main/Debug/main.pdb
/main/Debug/main.obj
/main/Debug/main.log
/main/Debug/main.ilk
/main/Debug/main.exe
